Postador.json
{
  "name": "Postador",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Post Instagram Vídeo",
        "formDescription": "Um Postador Automático de Instagram para Vídeos",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Texto",
              "fieldType": "textarea",
              "placeholder": "Espaço para fornecer todas informações relevantes para a a ciação do Texto do Post. Como um Prompt",
              "requiredField": true
            },
            {
              "fieldLabel": "data",
              "fieldType": "file",
              "multipleFiles": false
            },
            {
              "fieldLabel": "Descrição Produto",
              "fieldType": "textarea",
              "placeholder": "Descrição do produto do qual fala o Post. Dados para o Cadastro de um Produto"
            },
            {
              "fieldLabel": "Nome Produto",
              "placeholder": "O nome que gostaria de usar para identificar o Produto e como o seu Agente vai informã-lo"
            },
            {
              "fieldLabel": "Preço do Produto",
              "fieldType": "number",
              "placeholder": "Diga o preço do Produto"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -2352,
        496
      ],
      "id": "a9b5bf7f-31bf-4c82-ae2f-5487b5aba3ec",
      "name": "On form submission",
      "webhookId": "cb599f87-ec8b-4704-9a19-7a11aeec3bc3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v24.0/17841477360043221/media",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{ $('Info').item.json['instagram-token'] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "video_url",
              "value": "={{ $('Edit Fields').item.json.imagem }}"
            },
            {
              "name": "caption",
              "value": "={{ $json.text }}"
            },
            {
              "name": "media_type",
              "value": "REELS"
            },
            {
              "name": "thumb_offset",
              "value": "20"
            },
            {
              "name": "share_to_feed",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        0
      ],
      "id": "b5a8eadb-c5ed-45ec-b6e4-17cdbb9c5345",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v24.0/17841477360043221/media_publish",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer EAAQB0NrQv8oBQkGT5ME8ONDZANTreanN4IZAZANpI78nqZCkASbFzCipAwDo0G67JtzThvHO0gYSmkqBCExsGYp9bqMPUovKUQR2vwmCGtaI7SWWhFnVBZC2RVMHBZBXVojTkgAW9yFAHstKINqYafbdZByLBDxoWpNJAifZBMu1sSDe3uwi3yXo3DvHkBsZCOPvGkMWsfghZBxYDy8QZDZD"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "creation_id",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        416,
        0
      ],
      "id": "fc2b5f33-348c-4020-8696-046acc4f55b6",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"post_description\": \"\",\n\t\"midjourney_prompt\": \"\"\n}"
      },
      "id": "a1284062-7072-4e24-9738-5f8e3566e8c8",
      "name": "Structured Output Parser1",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -1056,
        544
      ]
    },
    {
      "parameters": {
        "model": "gpt-4.1-mini",
        "options": {
          "temperature": 0.9
        }
      },
      "id": "438553b5-9aab-4bce-be2e-73a537b0046e",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -1488,
        544
      ],
      "credentials": {
        "openAiApi": {
          "id": "VpZeWj7EvykkJjVG",
          "name": "FabricaIA"
        }
      }
    },
    {
      "parameters": {},
      "id": "c07d7220-ff5e-45c3-aa62-48a724e02666",
      "name": "Calculator1",
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        -1264,
        544
      ]
    },
    {
      "parameters": {
        "agent": "openAiFunctionsAgent",
        "promptType": "define",
        "text": "=Você é um agente com a seguinte configuração:\n\n<agent>\n    <role>Especialista em Criação de Conteúdo para Instagram</role>\n    <expertise>Criação de posts altamente engajadores para o feed do Instagram, utilizando técnicas de Neuromarketing, Storytelling, Copywriting emocional e SEO para redes sociais</expertise>\n    <tools_used>Copywriting persuasivo, estrutura narrativa fluida, uso estratégico de emojis, sugestão visual, e hashtags otimizadas</tools_used>\n\n    <workflow_steps>\n        <step id=\"1\"><description>Analisar o conteúdo fornecido (texto-base ou tema)</description><goal>Captar a intenção emocional e temática do conteúdo</goal></step>\n        <step id=\"2\"><description>Gerar um texto contínuo, engajador e emocionalmente conectado</description><goal>Despertar empatia e capturar a atenção nos primeiros segundos</goal></step>\n        <step id=\"3\"><description>Apresentar uma mensagem central clara, com storytelling e copywriting</description><goal>Estabelecer conexão emocional e relevância com o público-alvo</goal></step>\n        <step id=\"4\"><description>Incluir uma proposta de valor, reflexão, aprendizado ou informação relevante</description><goal>Estimular o compartilhamento, comentários e retenção</goal></step>\n        <step id=\"5\"><description>Finalizar com uma CTA forte e autêntica</description><goal>Incentivar interação (curtir, comentar, compartilhar ou marcar)</goal></step>\n        <step id=\"6\"><description>Sugerir até 10 hashtags relevantes e de alto alcance</description><goal>Ampliar visibilidade e otimizar o alcance orgânico do post</goal></step>\n        <step id=\"7\"><description>Gerar uma sugestão visual descritiva e clara</description><goal>Permitir criação automatizada da imagem no node Image-1 do OpenAI</goal></step>\n    </workflow_steps>\n\n    <context>\n        <background_info>Criação automatizada de posts impactantes para o Instagram a partir de temas diversos como devocionais, notícias, tendências, campanhas de valor, datas comemorativas, frases marcantes ou reflexões personalizadas.</background_info>\n    </context>\n\n    <rules>\n        <rule id=\"1\">Adaptar o tom e estilo ao tipo de conteúdo recebido, mantendo sempre conexão emocional e valor para o público</rule>\n        <rule id=\"2\">Utilizar emojis estrategicamente para intensificar a emoção e facilitar a leitura</rule>\n        <rule id=\"3\">Manter a naturalidade textual, evitando divisões explícitas como \"introdução\", \"desenvolvimento\", etc.</rule>\n        <rule id=\"4\">Separar a sugestão de imagem da legenda do post, para uso no node de imagem do N8N</rule>\n        <rule id=\"5\">Garantir que o texto seja visualmente escaneável, fluido e emocionalmente atrativo</rule>\n    </rules>\n\n    <language_preferences>\n        <tone>Autêntico, emocional, engajador e adaptável</tone>\n        <output_format>Texto contínuo e fluido, seguido de hashtags e sugestão de imagem separada</output_format>\n        <clarity>Alta clareza, coesão narrativa e impacto emocional ou informativo</clarity>\n    </language_preferences>\n\n    <desired_output>\n        <format>\n            <post_format>\n                <image_suggestion>Descrever uma imagem ideal com detalhes suficientes para gerar uma imagem com IA, conectada ao conteúdo</image_suggestion>\n                <caption>Gerar um texto cativante, fluido e sem marcações estruturais visíveis. Ao final, incluir até 10 hashtags relevantes e estratégicas.</caption>\n            </post_format>\n        </format>\n        <goals>Gerar um post envolvente, visualmente atrativo e com alto potencial de engajamento orgânico no Instagram</goals>\n    </desired_output>\n\n    <techniques>\n        <technique>Storytelling emocional ou informativo</technique>\n        <technique>Copywriting persuasivo</technique>\n        <technique>Neuromarketing</technique>\n        <technique>SEO para Instagram</technique>\n        <technique>Engajamento visual e emocional</technique>\n        <technique>Uso de Emojis com propósito</technique>\n    </techniques>\n\n    <evaluation_metrics>\n        <success_criteria>Posts que geram curtidas, comentários, marcações, salvamentos ou compartilhamentos</success_criteria>\n        <failure_cases>Posts genéricos, neutros, sem conexão emocional ou sem clareza de propósito</failure_cases>\n    </evaluation_metrics>\n</agent>\n\nA seguir está o conteúdo de entrada para criação do post:\n\n\"\"\" {{ $json.mensagem }} \"\"\"\n\nCom base nesse conteúdo, gere:\n\n1. Uma **legenda contínua**, emocional ou informativa, com emojis, storytelling, proposta de valor e CTA, conforme as diretrizes acima. Use espaçamento visual adequado para celular.\n2. Uma **lista com até 10 hashtags relevantes** e estratégicas.\n3. Uma **descrição visual clara** para ser usada como prompt de imagem no node \"Image-1\" da OpenAI.\n\nA saída deve ser formatada exatamente assim:\n\n**Legenda:**  \n[legenda]\n\n**Hashtags:**  \n[hashtags]\n\n**Sugestão de Imagem:**  \n[sugestão]",
        "hasOutputParser": true,
        "options": {
          "maxIterations": 5
        }
      },
      "id": "f0d6ff9a-1bbb-4dc4-95a0-b1e599ada2c7",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        -1296,
        224
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1a83b04c-41f7-4d6d-a5ed-f3335edecbe0",
              "name": "post",
              "value": "={{ $json.output.post_description }}",
              "type": "string"
            },
            {
              "id": "43564666-e717-4059-8039-6d055eac7c07",
              "name": "imagem",
              "value": "={{ $('Info').item.json.url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -896,
        224
      ],
      "id": "bcb93833-c030-4e0f-ac73-0a880e084477",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Edit Fields').item.json.post }}",
        "messages": {
          "messageValues": [
            {
              "message": "=Você é um especialista em escrita criativa para redes sociais, focado em formatação perfeita de legendas para Instagram, ideais para serem postadas via HTTP Request usando a Graph API.\n\nSeu objetivo é transformar um caption já escrito em uma **legenda final formatada**, sem alterar o conteúdo, apenas aplicando uma **estrutura visualmente bonita, legível, emocional e engajadora**.\n\n### Regras de formatação obrigatórias:\n\n1. Use **\\n\\n** (quebra de linha real) entre os parágrafos para melhorar a legibilidade no feed.\n2. Distribua **emojis** de forma natural e estratégica — **nunca excessivo, nunca ausente**.\n3. Preserve o **conteúdo original** e o tom emocional do texto.\n4. Se o texto contiver **versículos bíblicos, reflexões, ideias motivacionais, ensinamentos ou mensagens inspiradoras**, valorize esses trechos com boas pausas e espaçamento.\n5. Finalize com um **CTA envolvente** (ex: “Curta, comente e compartilhe”, ou variações coerentes com o texto).\n6. Hashtags devem estar todas no final, **sem espaçamentos excessivos**, preferencialmente em **uma única linha ou em bloco compacto**, nunca com uma quebra entre cada uma.\n7. Nunca use aspas, `\\\\`, barras invertidas ou escape de caracteres. O resultado deve ser limpo e direto, pronto para ser enviado como `\"caption\"` via JSON.\n\n### Exemplo de saída esperada:\n\n📌 Um texto legível, com bom espaçamento, emojis equilibrados, sem repetições ou excesso, e hashtags agrupadas no final de forma elegante.\n\n---\n\nTransforme o caption a seguir com base nessas instruções:\n"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        -608,
        224
      ],
      "id": "a7cadb9b-d8d3-40f0-b417-94e8a8d6a6f6",
      "name": "Formatar texto1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -688,
        544
      ],
      "id": "eb2704c6-1baf-474d-8d3d-427e7a988cf2",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "VpZeWj7EvykkJjVG",
          "name": "FabricaIA"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0d622a33-f313-4758-a764-fa6cbf2b0587",
              "name": "mensagem",
              "value": "={{ $('On form submission').item.json.Texto }}",
              "type": "string"
            },
            {
              "id": "2d601332-e7c9-402e-b293-d18ac01bb4be",
              "name": "instagram-token",
              "value": "Bearer EAAQB0NrQv8oBQkGT5ME8ONDZANTreanN4IZAZANpI78nqZCkASbFzCipAwDo0G67JtzThvHO0gYSmkqBCExsGYp9bqMPUovKUQR2vwmCGtaI7SWWhFnVBZC2RVMHBZBXVojTkgAW9yFAHstKINqYafbdZByLBDxoWpNJAifZBMu1sSDe3uwi3yXo3DvHkBsZCOPvGkMWsfghZBxYDy8QZDZD",
              "type": "string"
            },
            {
              "id": "7514084d-3d26-4d71-b559-b857585aee8a",
              "name": "url",
              "value": "={{ $json.secure_url }}",
              "type": "string"
            },
            {
              "id": "84a4215b-f14e-44bb-aa5c-51e404a37d44",
              "name": "Produto",
              "value": "={{ $('On form submission').item.json['Nome Produto'] }}",
              "type": "string"
            },
            {
              "id": "23ab0ded-1a10-40da-b29d-fb32ae9a3a16",
              "name": "Descrição",
              "value": "={{ $('On form submission').item.json['Descrição Produto'] }}",
              "type": "string"
            },
            {
              "id": "e15f8141-acec-4ee9-8bcb-546f68f97e51",
              "name": "Valor",
              "value": "={{ $('On form submission').item.json['Preço do Produto'] }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1488,
        224
      ],
      "id": "368b9ee2-a713-496f-a926-f8f150b5e6fd",
      "name": "Info"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "publicacoes",
          "mode": "list",
          "cachedResultName": "publicacoes"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_container": "={{ $json.post_id }}",
            "solicitacao": "={{ $json.solicitacao }}",
            "conteudo": "={{ $json.post_description }}",
            "prompt_imagem": "={{ $json.image_prompt }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "id_container",
              "displayName": "id_container",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "solicitacao",
              "displayName": "solicitacao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "conteudo",
              "displayName": "conteudo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "prompt_imagem",
              "displayName": "prompt_imagem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "data_publicacao",
              "displayName": "data_publicacao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1056,
        0
      ],
      "id": "badf4f77-4e61-4277-8622-1fc2e3c0e74f",
      "name": "Insert rows in a table1",
      "credentials": {
        "postgres": {
          "id": "5PeP2V1KuNZyNvGL",
          "name": "RedesSociais"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "059fffda-db59-45e7-8ae4-48dc989c4501",
              "name": "solicitacao",
              "value": "={{ $('Info').item.json.mensagem }}",
              "type": "string"
            },
            {
              "id": "35180723-c025-42cc-99f6-47f0137a684c",
              "name": "post-id",
              "value": "={{ $('HTTP Request1').item.json.id }}",
              "type": "string"
            },
            {
              "id": "176f4cac-8901-4c43-8765-81f1824b232e",
              "name": "post-description",
              "value": "={{ $('AI Agent').item.json.output.output.post_description }}",
              "type": "string"
            },
            {
              "id": "4c3b6616-d8c3-4fa7-8a47-45f7519c2f1d",
              "name": "image-prompt",
              "value": "={{ $('AI Agent').item.json.output.output.midjourney_prompt }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        640,
        0
      ],
      "id": "c1b50612-4015-45e5-8e00-383698939a7f",
      "name": "Dados-Memória"
    },
    {
      "parameters": {
        "jsCode": "return items.map(i => {\n  function cleanText(str) {\n    if (!str) return '';\n    let out = str.replace(/[\\r\\n]+/g, ' ');\n    out = out.replace(/\\s{2,}/g, ' ');\n    out = out.replace(/'/g, \"''\");\n    out = out.trim();\n    return out;\n  }\n\n  return {\n    json: {\n      post_id: cleanText(i.json[\"post-id\"]),\n      solicitacao: cleanText(i.json[\"solicitacao\"]),\n      post_description: cleanText(i.json[\"post-description\"]),\n      image_prompt: cleanText(i.json[\"image-prompt\"])\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        0
      ],
      "id": "4a53a2fa-c7b0-4134-9d9f-22232e8760a4",
      "name": "Code"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cloudinary.com/v1_1/dakky1ulv/auto/upload",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "upload_preset",
              "value": "n8nimage"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1744,
        224
      ],
      "id": "08301cbb-b4bc-4e05-b533-7ca896556462",
      "name": "HTTP Request2",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "produtos",
          "mode": "list",
          "cachedResultName": "produtos"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ativo": true,
            "nome": "={{ $('Info').item.json.Produto }}",
            "preco": "={{ $('Info').item.json.Valor }}",
            "descricao": "={{ $('Info').item.json['Descrição'] }}",
            "id_container": "={{ $json.id_container }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "descricao",
              "displayName": "descricao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "preco",
              "displayName": "preco",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "id_container",
              "displayName": "id_container",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ativo",
              "displayName": "ativo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1280,
        0
      ],
      "id": "a3b81975-d7e2-46e7-99db-8f44b6156dd6",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "cMNFpCRsDGLcsFEP",
          "name": "Vigilancia"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "model": "gpt-image-1",
        "prompt": "=Crie uma Imagem com todas as estratégias de marketing possíveis para ter o maior engajamento possível no Instagram. Use sempre textos nas imagens, caso tenha, em portugês brasileiro. Quanto ao formato, tamanho  e tipo de imagem use as configurações mais eficientes e aprimoradas possíveis para serem usadas no Instagram. \n\nCrie uma imagem profissional, elegante e altamente engajadora para um post de Instagram, no formato vertical (4:5), dimensões 1080 x 1350 pixels, ideal para feed. O tema é: {{ $json.imagem }}.\n\n\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -784,
        800
      ],
      "id": "77d149da-2072-418f-b800-f89cbdd07741",
      "name": "Generate an image",
      "credentials": {
        "openAiApi": {
          "id": "VpZeWj7EvykkJjVG",
          "name": "FabricaIA"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7eab8669-6929-4dc6-b3e2-943065bc306c",
              "name": "mensagem",
              "value": "={{ $json.Texto }}",
              "type": "string"
            },
            {
              "id": "a17fd079-2ba8-49fc-be83-6771930da9c0",
              "name": "produto",
              "value": "={{ $json['Descrição Produto'] }}",
              "type": "string"
            },
            {
              "id": "a118faa8-d7f8-495e-8954-17e941810311",
              "name": "nome",
              "value": "={{ $json['Nome Produto'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1728,
        800
      ],
      "id": "e9fc45e8-8324-4023-ae43-81a54dcfd260",
      "name": "Texto",
      "executeOnce": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v24.0/17841477360043221/media",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer EAAQB0NrQv8oBQkGT5ME8ONDZANTreanN4IZAZANpI78nqZCkASbFzCipAwDo0G67JtzThvHO0gYSmkqBCExsGYp9bqMPUovKUQR2vwmCGtaI7SWWhFnVBZC2RVMHBZBXVojTkgAW9yFAHstKINqYafbdZByLBDxoWpNJAifZBMu1sSDe3uwi3yXo3DvHkBsZCOPvGkMWsfghZBxYDy8QZDZD"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "image_url",
              "value": "={{ $('HTTP Request5').item.json.secure_url }}"
            },
            {
              "name": "caption",
              "value": "={{ $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        16,
        800
      ],
      "id": "69c9633c-5f46-4520-a94e-13a670e518d4",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v24.0/17841477360043221/media_publish",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer EAAQB0NrQv8oBQkGT5ME8ONDZANTreanN4IZAZANpI78nqZCkASbFzCipAwDo0G67JtzThvHO0gYSmkqBCExsGYp9bqMPUovKUQR2vwmCGtaI7SWWhFnVBZC2RVMHBZBXVojTkgAW9yFAHstKINqYafbdZByLBDxoWpNJAifZBMu1sSDe3uwi3yXo3DvHkBsZCOPvGkMWsfghZBxYDy8QZDZD"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "creation_id",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        800
      ],
      "id": "abcbf8c7-eed0-44ea-a170-841352192751",
      "name": "HTTP Request4"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"post_description\": \"\",\n\t\"midjourney_prompt\": \"\"\n}"
      },
      "id": "aec3251a-8ebb-44c8-b17c-ddd97ef8cfa6",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -1136,
        1120
      ]
    },
    {
      "parameters": {
        "model": "gpt-4.1-mini",
        "options": {
          "temperature": 0.9
        }
      },
      "id": "818f4df2-02df-41b1-9c9f-1bd018b445a6",
      "name": "OpenAI Chat Model2",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -1504,
        1120
      ],
      "credentials": {
        "openAiApi": {
          "id": "VpZeWj7EvykkJjVG",
          "name": "FabricaIA"
        }
      }
    },
    {
      "parameters": {},
      "id": "d34d09f2-3000-4eb4-a09f-0cc3046e9736",
      "name": "Calculator",
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        -1264,
        1120
      ]
    },
    {
      "parameters": {
        "agent": "openAiFunctionsAgent",
        "promptType": "define",
        "text": "=Você é um agente com a seguinte configuração:\n\n<agent>\n    <role>Especialista em Criação de Conteúdo para Instagram</role>\n    <expertise>Criação de posts altamente engajadores para o feed do Instagram, utilizando técnicas de Neuromarketing, Storytelling, Copywriting emocional e SEO para redes sociais</expertise>\n    <tools_used>Copywriting persuasivo, estrutura narrativa fluida, uso estratégico de emojis, sugestão visual, e hashtags otimizadas</tools_used>\n\n    <workflow_steps>\n        <step id=\"1\"><description>Analisar o conteúdo fornecido (texto-base ou tema)</description><goal>Captar a intenção emocional e temática do conteúdo</goal></step>\n        <step id=\"2\"><description>Gerar um texto contínuo, engajador e emocionalmente conectado</description><goal>Despertar empatia e capturar a atenção nos primeiros segundos</goal></step>\n        <step id=\"3\"><description>Apresentar uma mensagem central clara, com storytelling e copywriting</description><goal>Estabelecer conexão emocional e relevância com o público-alvo</goal></step>\n        <step id=\"4\"><description>Incluir uma proposta de valor, reflexão, aprendizado ou informação relevante</description><goal>Estimular o compartilhamento, comentários e retenção</goal></step>\n        <step id=\"5\"><description>Finalizar com uma CTA forte e autêntica</description><goal>Incentivar interação (curtir, comentar, compartilhar ou marcar)</goal></step>\n        <step id=\"6\"><description>Sugerir até 10 hashtags relevantes e de alto alcance</description><goal>Ampliar visibilidade e otimizar o alcance orgânico do post</goal></step>\n        <step id=\"7\"><description>Gerar uma sugestão visual descritiva e clara</description><goal>Permitir criação automatizada da imagem no node Image-1 do OpenAI</goal></step>\n    </workflow_steps>\n\n    <context>\n        <background_info>Criação automatizada de posts impactantes para o Instagram a partir de temas diversos como devocionais, notícias, tendências, campanhas de valor, datas comemorativas, frases marcantes ou reflexões personalizadas.</background_info>\n    </context>\n\n    <rules>\n        <rule id=\"1\">Adaptar o tom e estilo ao tipo de conteúdo recebido, mantendo sempre conexão emocional e valor para o público</rule>\n        <rule id=\"2\">Utilizar emojis estrategicamente para intensificar a emoção e facilitar a leitura</rule>\n        <rule id=\"3\">Manter a naturalidade textual, evitando divisões explícitas como \"introdução\", \"desenvolvimento\", etc.</rule>\n        <rule id=\"4\">Separar a sugestão de imagem da legenda do post, para uso no node de imagem do N8N</rule>\n        <rule id=\"5\">Garantir que o texto seja visualmente escaneável, fluido e emocionalmente atrativo</rule>\n    </rules>\n\n    <language_preferences>\n        <tone>Autêntico, emocional, engajador e adaptável</tone>\n        <output_format>Texto contínuo e fluido, seguido de hashtags e sugestão de imagem separada</output_format>\n        <clarity>Alta clareza, coesão narrativa e impacto emocional ou informativo</clarity>\n    </language_preferences>\n\n    <desired_output>\n        <format>\n            <post_format>\n                <image_suggestion>Descrever uma imagem ideal com detalhes suficientes para gerar uma imagem com IA, conectada ao conteúdo</image_suggestion>\n                <caption>Gerar um texto cativante, fluido e sem marcações estruturais visíveis. Ao final, incluir até 10 hashtags relevantes e estratégicas.</caption>\n            </post_format>\n        </format>\n        <goals>Gerar um post envolvente, visualmente atrativo e com alto potencial de engajamento orgânico no Instagram</goals>\n    </desired_output>\n\n    <techniques>\n        <technique>Storytelling emocional ou informativo</technique>\n        <technique>Copywriting persuasivo</technique>\n        <technique>Neuromarketing</technique>\n        <technique>SEO para Instagram</technique>\n        <technique>Engajamento visual e emocional</technique>\n        <technique>Uso de Emojis com propósito</technique>\n    </techniques>\n\n    <evaluation_metrics>\n        <success_criteria>Posts que geram curtidas, comentários, marcações, salvamentos ou compartilhamentos</success_criteria>\n        <failure_cases>Posts genéricos, neutros, sem conexão emocional ou sem clareza de propósito</failure_cases>\n    </evaluation_metrics>\n</agent>\n\nA seguir está o conteúdo de entrada para criação do post:\n\n\"\"\"{{ $json.mensagem }}\n   {{ $json.produto }}\n   {{ $json.nome }}\n\"\"\"\n\nCom base nesse conteúdo, gere:\n\n1. Uma **legenda contínua**, emocional ou informativa, com emojis, storytelling, proposta de valor e CTA, conforme as diretrizes acima. Use espaçamento visual adequado para celular.\n2. Uma **lista com até 10 hashtags relevantes** e estratégicas.\n3. Uma **descrição visual clara** para ser usada como prompt de imagem no node \"Image-1\" da OpenAI.\n\nA saída deve ser formatada exatamente assim:\n\n**Legenda:**  \n[legenda]\n\n**Hashtags:**  \n[hashtags]\n\n**Sugestão de Imagem:**  \n[sugestão]",
        "hasOutputParser": true,
        "options": {
          "maxIterations": 5
        }
      },
      "id": "fb50ade0-38cf-4fd6-a190-719b3a95d12a",
      "name": "AI Agent1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        -1408,
        800
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1a83b04c-41f7-4d6d-a5ed-f3335edecbe0",
              "name": "post",
              "value": "={{ $json.output.output.post_description }}",
              "type": "string"
            },
            {
              "id": "43564666-e717-4059-8039-6d055eac7c07",
              "name": "imagem",
              "value": "={{ $json.output.output.midjourney_prompt }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1040,
        800
      ],
      "id": "3fac8452-8ea3-4efd-9c4f-0a44b66e212a",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Edit Fields1').item.json.post }}",
        "messages": {
          "messageValues": [
            {
              "message": "=Você é um especialista em escrita criativa para redes sociais, focado em formatação perfeita de legendas para Instagram, ideais para serem postadas via HTTP Request usando a Graph API.\n\nSeu objetivo é transformar um caption já escrito em uma **legenda final formatada**, sem alterar o conteúdo, apenas aplicando uma **estrutura visualmente bonita, legível, emocional e engajadora**.\n\n### Regras de formatação obrigatórias:\n\n1. Use **\\n\\n** (quebra de linha real) entre os parágrafos para melhorar a legibilidade no feed.\n2. Distribua **emojis** de forma natural e estratégica — **nunca excessivo, nunca ausente**.\n3. Preserve o **conteúdo original** e o tom emocional do texto.\n4. Se o texto contiver **versículos bíblicos, reflexões, ideias motivacionais, ensinamentos ou mensagens inspiradoras**, valorize esses trechos com boas pausas e espaçamento.\n5. Finalize com um **CTA envolvente** (ex: “Curta, comente e compartilhe”, ou variações coerentes com o texto).\n6. Hashtags devem estar todas no final, **sem espaçamentos excessivos**, preferencialmente em **uma única linha ou em bloco compacto**, nunca com uma quebra entre cada uma.\n7. Nunca use aspas, `\\\\`, barras invertidas ou escape de caracteres. O resultado deve ser limpo e direto, pronto para ser enviado como `\"caption\"` via JSON.\n\n### Exemplo de saída esperada:\n\n📌 Um texto legível, com bom espaçamento, emojis equilibrados, sem repetições ou excesso, e hashtags agrupadas no final de forma elegante.\n\n---\n\nTransforme o caption a seguir com base nessas instruções:\n"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        -368,
        800
      ],
      "id": "9f73f7a7-9e23-4dfa-ad50-440e583cfd5e",
      "name": "Formatar texto"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -400,
        1104
      ],
      "id": "b14357da-97bb-4e9f-aee2-e0c8c6fd9ea6",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "VpZeWj7EvykkJjVG",
          "name": "FabricaIA"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "46dbd228-60e6-4b13-98f4-4548d114bcb3",
              "leftValue": "={{ $json.data }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2128,
        496
      ],
      "id": "42c8e290-a35c-44d4-979e-32157d3e8d73",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cloudinary.com/v1_1/dakky1ulv/image/upload",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "upload_preset",
              "value": "n8nimage"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -560,
        800
      ],
      "id": "ea27bbe0-03d9-4c83-ae93-4234a8528271",
      "name": "HTTP Request5",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "publicacoes",
          "mode": "list",
          "cachedResultName": "publicacoes"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_container": "={{ $json.post_id }}",
            "solicitacao": "={{ $json.solicitacao }}",
            "conteudo": "={{ $json.post_description }}",
            "prompt_imagem": "={{ $json.image_prompt }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "id_container",
              "displayName": "id_container",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "solicitacao",
              "displayName": "solicitacao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "conteudo",
              "displayName": "conteudo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "prompt_imagem",
              "displayName": "prompt_imagem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "data_publicacao",
              "displayName": "data_publicacao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        880,
        800
      ],
      "id": "9ccd7480-9fb5-488f-8423-51ad18a3d466",
      "name": "Insert rows in a table2",
      "credentials": {
        "postgres": {
          "id": "cMNFpCRsDGLcsFEP",
          "name": "Vigilancia"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "059fffda-db59-45e7-8ae4-48dc989c4501",
              "name": "solicitacao",
              "value": "={{ $('Texto').item.json.mensagem }}",
              "type": "string"
            },
            {
              "id": "35180723-c025-42cc-99f6-47f0137a684c",
              "name": "post-id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "176f4cac-8901-4c43-8765-81f1824b232e",
              "name": "post-description",
              "value": "={{ $('AI Agent1').item.json.output.output.post_description }}",
              "type": "string"
            },
            {
              "id": "4c3b6616-d8c3-4fa7-8a47-45f7519c2f1d",
              "name": "image-prompt",
              "value": "={{ $('AI Agent1').item.json.output.output.midjourney_prompt }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        464,
        800
      ],
      "id": "bbfb999d-a143-409c-8096-7108e2759537",
      "name": "Dados-Memória1"
    },
    {
      "parameters": {
        "jsCode": "return items.map(i => {\n  function cleanText(str) {\n    if (!str) return '';\n    let out = str.replace(/[\\r\\n]+/g, ' ');\n    out = out.replace(/\\s{2,}/g, ' ');\n    out = out.replace(/'/g, \"''\");\n    out = out.trim();\n    return out;\n  }\n\n  return {\n    json: {\n      post_id: cleanText(i.json[\"post-id\"]),\n      solicitacao: cleanText(i.json[\"solicitacao\"]),\n      post_description: cleanText(i.json[\"post-description\"]),\n      image_prompt: cleanText(i.json[\"image-prompt\"])\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        800
      ],
      "id": "eb4c35c3-920f-4119-8530-f8267efd3905",
      "name": "Code1"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "produtos",
          "mode": "list",
          "cachedResultName": "produtos"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ativo": true,
            "nome": "={{ $('On form submission').item.json['Nome Produto'] }}",
            "preco": "={{ $('On form submission').item.json['Preço do Produto'] }}",
            "descricao": "={{ $('On form submission').item.json['Descrição Produto'] }}",
            "id_container": "={{ $json.id_container }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "descricao",
              "displayName": "descricao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "preco",
              "displayName": "preco",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "id_container",
              "displayName": "id_container",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ativo",
              "displayName": "ativo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1104,
        800
      ],
      "id": "a4ada337-67e4-414d-a2f0-0648c6eeb31e",
      "name": "Insert rows in a table3",
      "credentials": {
        "postgres": {
          "id": "cMNFpCRsDGLcsFEP",
          "name": "Vigilancia"
        }
      }
    },
    {
      "parameters": {
        "amount": 60
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        192,
        0
      ],
      "id": "b3d2b96c-6ad6-4f14-9940-3ba6d505b83f",
      "name": "Wait",
      "webhookId": "1abaff1d-c30f-4dc2-a9bc-33b9e73145b7"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('On form submission').item.json.data.mimetype }}",
                    "rightValue": "video",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "5e7a2a61-a8ee-47ed-bc1a-4c1c36246031"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Video"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ceff5adc-3696-45c8-889a-3aaa65878312",
                    "leftValue": "={{ $('On form submission').item.json.data.mimetype }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Imagem"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -256,
        224
      ],
      "id": "e56878e8-8ace-4f3e-a440-e1a163032431",
      "name": "Switch"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v24.0/17841477360043221/media",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{ $('Info').item.json['instagram-token'] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "image_url",
              "value": "={{ $('Edit Fields').item.json.imagem }}"
            },
            {
              "name": "caption",
              "value": "={{ $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        16,
        416
      ],
      "id": "b6a6dc47-63eb-462e-b648-ab5e3c003b11",
      "name": "HTTP Request6"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v24.0/17841477360043221/media_publish",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer EAAQB0NrQv8oBQkGT5ME8ONDZANTreanN4IZAZANpI78nqZCkASbFzCipAwDo0G67JtzThvHO0gYSmkqBCExsGYp9bqMPUovKUQR2vwmCGtaI7SWWhFnVBZC2RVMHBZBXVojTkgAW9yFAHstKINqYafbdZByLBDxoWpNJAifZBMu1sSDe3uwi3yXo3DvHkBsZCOPvGkMWsfghZBxYDy8QZDZD"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "creation_id",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        416
      ],
      "id": "42f60495-3c7f-4d31-95a9-49f08087e46e",
      "name": "HTTP Request7"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "publicacoes",
          "mode": "list",
          "cachedResultName": "publicacoes"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_container": "={{ $json.post_id }}",
            "solicitacao": "={{ $json.solicitacao }}",
            "conteudo": "={{ $json.post_description }}",
            "prompt_imagem": "={{ $json.image_prompt }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "id_container",
              "displayName": "id_container",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "solicitacao",
              "displayName": "solicitacao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "conteudo",
              "displayName": "conteudo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "prompt_imagem",
              "displayName": "prompt_imagem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "data_publicacao",
              "displayName": "data_publicacao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1040,
        416
      ],
      "id": "15d93593-ae35-4b82-90c9-b6254ca26bc5",
      "name": "Insert rows in a table4",
      "credentials": {
        "postgres": {
          "id": "cMNFpCRsDGLcsFEP",
          "name": "Vigilancia"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "059fffda-db59-45e7-8ae4-48dc989c4501",
              "name": "solicitacao",
              "value": "={{ $('Info').item.json.mensagem }}",
              "type": "string"
            },
            {
              "id": "35180723-c025-42cc-99f6-47f0137a684c",
              "name": "post-id",
              "value": "={{ $('HTTP Request7').item.json.id }}",
              "type": "string"
            },
            {
              "id": "176f4cac-8901-4c43-8765-81f1824b232e",
              "name": "post-description",
              "value": "={{ $('AI Agent').item.json.output.output.post_description }}",
              "type": "string"
            },
            {
              "id": "4c3b6616-d8c3-4fa7-8a47-45f7519c2f1d",
              "name": "image-prompt",
              "value": "={{ $('AI Agent').item.json.output.output.midjourney_prompt }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        416
      ],
      "id": "66969821-1b6a-45de-8fc6-7b376ccd7046",
      "name": "Dados-Memória2"
    },
    {
      "parameters": {
        "jsCode": "return items.map(i => {\n  function cleanText(str) {\n    if (!str) return '';\n    let out = str.replace(/[\\r\\n]+/g, ' ');\n    out = out.replace(/\\s{2,}/g, ' ');\n    out = out.replace(/'/g, \"''\");\n    out = out.trim();\n    return out;\n  }\n\n  return {\n    json: {\n      post_id: cleanText(i.json[\"post-id\"]),\n      solicitacao: cleanText(i.json[\"solicitacao\"]),\n      post_description: cleanText(i.json[\"post-description\"]),\n      image_prompt: cleanText(i.json[\"image-prompt\"])\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        416
      ],
      "id": "5eea9d71-3bf8-471d-9a23-8c24018fa7c5",
      "name": "Code2"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "produtos",
          "mode": "list",
          "cachedResultName": "produtos"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ativo": true,
            "nome": "={{ $('Info').item.json.Produto }}",
            "preco": "={{ $('Info').item.json.Valor }}",
            "descricao": "={{ $('Info').item.json['Descrição'] }}",
            "id_container": "={{ $json.id_container }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "descricao",
              "displayName": "descricao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "preco",
              "displayName": "preco",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "id_container",
              "displayName": "id_container",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ativo",
              "displayName": "ativo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1264,
        416
      ],
      "id": "f8868902-857b-45c3-b8c1-a79c8c926f0d",
      "name": "Insert rows in a table5",
      "credentials": {
        "postgres": {
          "id": "cMNFpCRsDGLcsFEP",
          "name": "Vigilancia"
        }
      }
    },
    {
      "parameters": {
        "amount": 60
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        208,
        416
      ],
      "id": "9ebd0f5b-2be3-435f-ba93-02d864a02ada",
      "name": "Wait1",
      "webhookId": "1abaff1d-c30f-4dc2-a9bc-33b9e73145b7"
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Dados-Memória",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Calculator1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Formatar texto1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar texto1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Formatar texto1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Info": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table1": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados-Memória": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Insert rows in a table1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate an image": {
      "main": [
        [
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Texto": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "Dados-Memória1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Generate an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar texto": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Formatar texto",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request5": {
      "main": [
        [
          {
            "node": "Formatar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table2": {
      "main": [
        [
          {
            "node": "Insert rows in a table3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados-Memória1": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Insert rows in a table2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request6": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request7": {
      "main": [
        [
          {
            "node": "Dados-Memória2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table4": {
      "main": [
        [
          {
            "node": "Insert rows in a table5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados-Memória2": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Insert rows in a table4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "HTTP Request7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "eeb5e2d9-fba0-44e3-8df4-e852ae6b0c87",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "48fc8716b9d937b99bd734cba697bc1aae54e9e6829f240c0026e23812435766"
  },
  "id": "FlGdddf5mPyLw88W",
  "tags": []
}